@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --white: #fff;
  --backgroundColor: #aed9e0;
  --highlightColor: #FFA69E;
  --textColor: #34868e;
}

/*-------------------*/
/*----- GENERAL -----*/
/*-------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--white);
  background-color: var(--backgroundColor);
}

button {
  padding: 8px;
  margin: 16px auto;
  background-color: var(--backgroundColor);
  border: solid 4px var(--white);
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  transition: ease 300ms;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: var(--highlightColor);
  border: solid 4px var(--white);
  color: var(--white);
  box-shadow: 2px 2px var(--highlightColor);
}

/*------------------*/
/*----- HEADER -----*/
/*------------------*/

#header {
  text-align: center;
  margin: 16px auto 8px auto;
}

/*----------------------*/
/*----- GAMESTATUS -----*/
/*----------------------*/

#gameStatus {
  width: 100%;
  margin: 36px;
  text-align: center;
}

#currentPlayer {
  display: inline-block;
  font-size: 24px;
  text-align: center;
  color: var(--textColor);
}

/*----------------------*/
/*----- GAMERESULT -----*/
/*----------------------*/

#gameResult {
  transition: ease 300ms;
}

#resultHeadline {
  font-size: 24px;
  margin: 16px auto;
  padding: 8px;
  border: solid 4px var(--white);

  transform: scale(1);
	animation: pulse 2s;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 var(--highlightColor);
	}

	70% {
		transform: scale(0.95);
		box-shadow: 0 0 0 10px var(--highlightColor);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 var(--highlightColor);
	}
}

/*---------------------*/
/*----- GAMEBOARD -----*/
/*---------------------*/

#gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 16px;
}

#boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

/*-----------------*/
/*----- CELLS -----*/
/*-----------------*/

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  height: 33.3%;
}

.topLeft {
  border-bottom: var(--white) solid 2px;
  border-right: var(--white) solid 2px;
}

.topMiddle {
  border-bottom: var(--white) solid 2px;
  border-right: var(--white) solid 2px;
  border-left: var(--white) solid 2px;
}

.topRight {
  border-bottom: var(--white) solid 2px;
  border-left: var(--white) solid 2px;
}

.center {
  border: var(--white) solid 2px;
}

.centerLeft {
  border-top: var(--white) solid 2px;
  border-right: var(--white) solid 2px;
  border-bottom: var(--white) solid 2px;
}

.centerRight {
  border-top: var(--white) solid 2px;
  border-left: var(--white) solid 2px;
  border-bottom: var(--white) solid 2px;
}

.bottomRight {
  border-top: var(--white) solid 2px;
  border-left: var(--white) solid 2px;
}

.bottomLeft {
  border-right: var(--white) solid 2px;
  border-top: var(--white) solid 2px;
}

.bottomMiddle {
  border-top: var(--white) solid 2px;
  border-right: var(--white) solid 2px;
  border-left: var(--white) solid 2px;
}

.cellFill {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 128px;
  font-weight: 200;
  text-shadow: 2px 2px var(--highlightColor);
}

/*--------------------------*/
/*----- HELPER CLASSES -----*/
/*--------------------------*/

.displayNone {
  display: none;
}

/*-------------------------*/
/*----- MEDIA QUERIES -----*/
/*-------------------------*/


/*--------- mobile ---------*/
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  #currentPlayer {
    font-size: 18px;
  }

  #boardContainer {
    margin-top: 24px;
    width: 300px;
    height: 300px;
  }

  .cellFill {
    font-size: 72px;
  }

  button {
    margin: 16px auto;
  }

  #resultHeadline {
    font-size: 18px;
    margin: 16px auto;
    padding: 8px;
  }
}

/*--------- tablets ---------*/
@media only screen and (min-width: 600px) {
  #header {
    margin-top: 100px;
  }
} 